BUILD/
.mbed
mbed_settings.py
*.pyc

mbed-os
mbed-os.lib
msgpack
trackle-device-test
ubirch-mbed-ble
ubirch-mbed-debug
ubirch-mbed-nrf52-storage
ubirch-mbed-Si7050
BME280
ubirch-mbed-crypto
ubirch-mbed-quectel-m66
mbed-http
ubirch-mbed-sd-storage

config.h

cmake-build-debug/
.idea/*
*.iml
.temp
